aenum==3.1.15
Cerberus==1.3.7
geopandas==1.0.1
geopy==2.4.1
hydra-core==1.3.2
numpy==2.2.3
omegaconf==2.3.0
ordered_enum==0.0.9
pandas==2.2.3
python-dotenv==1.0.1
scipy==1.15.2
tqdm==4.67.1

pandassta>=0.0.18
df-qc-tools>=0.0.15
searegion-detection>=0.0.5
